include pug/includes/variables
include pug/includes/mixins

doctype
html(lang="en")
    head
        //- Start Meta
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name = "description", content="Pug Project")
        //- End Meta
        //- Start Title
        title #{indexTitle}
        //- End Title
        //- Start Styles
        include pug/includes/styles
        //- End Styles
    body
        //- Start Header
        include pug/pages/header
        //- End Header

        //- Start Main-Content
        main.home-content
            section.home-banner
                .container
                    //- Start Interface
                    .row
                        .col-md-7.col-lg-6
                            //- Left
                            .home-info
                                h1 App That <br>Suits You Better
                                p.subtitle inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards.
                                .store-btn
                                    a(href="#" class="active")
                                        i(class="fa fa-apple" aria-hidden="true")
                                        | App Store
                                    a(href="#")
                                        i(class="fa fa-android" aria-hidden="true")
                                        | Google Play
                        .col-md-3.offset-lg-2.col-lg-4
                            //- Right
                            .home-image
                                img(class="img-fluid" src="images/header/mockup1.png" alt="Interface Image")
                    //- End Interface

            //- Start Features
            section.features.text-center
                .container
                    h2 Features You Love
                    .row
                        .col-md-4
                            .features-info
                                i(class="fa fa-smile-o" aria-hidden="true")
                                h6 Simple
                                p We build pretty simple tools and this allows us to take designs simple
                        .col-md-4
                            .features-info
                                i(class="fa fa-pencil-square-o" aria-hidden="true")
                                h6 Powerful Design
                                p We build pretty simple tools and this allows us to take designs simple
                        .col-md-4
                            .features-info
                                i(class="fa fa-cog" aria-hidden="true")
                                h6 Customizability
                                p We build pretty simple tools and this allows us to take designs simple
            //- End Features

            //- Start About
            section.about
                .container
                    .row
                        .col-md-8.mx-auto.text-center.about-head
                            h2 About App
                            p Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et Dolore Magna Aliqua. Ut Enim Ad Minim Veniam, Quis Nostrud Exercitation.Look Even Slightly Believable
                    .row
                        .col-md-5
                            img(src="images/about/mockup7.png" class="img-fluid"  alt="About Image")
                        .col-md-7
                            .row
                                .col-md-6.col-lg-4
                                    .about-info
                                        i(class="fa fa-cog" aria-hidden="true")
                                        h6 Customizability
                                        p We build pretty simple tools and this allows us to take designs simple
                                .col-md-6.col-lg-4
                                    .about-info
                                        i(class="fa fa-diamond" aria-hidden="true")
                                        h6 Unique Design
                                        p We build pretty simple tools and this allows us to take designs simple
                                .col-md-6.col-lg-4
                                    .about-info
                                        i(class="fa fa-refresh" aria-hidden="true")
                                        h6 Always updated
                                        p We build pretty simple tools and this allows us to take designs simple
                                .col-md-6.col-lg-4
                                    .about-info
                                        i(class="fa fa-eye" aria-hidden="true")
                                        h6 Retina Ready
                                        p We build pretty simple tools and this allows us to take designs simple
                                .col-md-6.col-lg-4
                                    .about-info
                                        i(class="fa fa-headphones" aria-hidden="true")
                                        h6 Excellent Support
                                        p We build pretty simple tools and this allows us to take designs simple
                                .col-md-6.col-lg-4
                                    .about-info
                                        i(class="fa fa-mobile" aria-hidden="true")
                                        h6 Responsive
                                        p We build pretty simple tools and this allows us to take designs simple
            //- End About

            //- Start Slider
            section.slider
                .container
                    .row
                        .col-md-8.mx-auto.text-center.slider-head
                            h2 App Screenshots
                    .screenshot-container
                        .swiper-container
                            .swiper-wrapper
                                - for (var x = 1; x <= 7; x++)
                                    .swiper-slide
                                        img(src="images/slider/" + x + ".jpg", class="img-fluid", alt="Screenshot " + x)
                        //- Pagination
                        .swiper-pagination
            //- End Slider

            //- Start Subscribe
            section.subscribe
                .container-fluid
                    .row
                        .col-md-6
                            .newsletter-info
                                h2 Stay with us
                                p Subscribe To Our Newsletters Now And Stay Up-To-Date With New Collection,The Latest Lookbooks And Exclusive Offers.
                                .newsletter
                                    .input-group
                                        input(
                                            type="email"
                                            class="form-control"
                                            placeholder="Email address"
                                        )
                                        span.input-group-btn
                                            button(type="button")
                                                i(class="fa fa-paper-plane-o")
                        .col-md-6
                            .video-container
                                .video-content
                                    a(href="https://www.youtube.com/watch?v=f5BBJ4ySgpo" class="video-btn" target="_blank")
                                        i(class="fa fa-play" aria-hidden="true")
                                        .circle
                                    h3 Watch the video
            //- End Subscribe

            //- Start Price
            section.pricing.text-center
                .container
                    h2 Upgrade to pro
                    .row
                        .col-md-4
                            .pricing-card
                                .pricing-header
                                    small.text-uppercase Personal
                                    span.price $19/m
                                    ul.list-group.list-unstyled
                                        - var items = ["10 Projects", "5 GB Storage", "Basic Support"]
                                        each val in items
                                            li.list-group-item=val
                                        - var deletedItems = ["Collaboration", "Reports and analytics"]
                                        each value in deletedItems
                                            li.list-group-item
                                                del=value
                                .pricing-footer
                                    a(href="#" class="card-btn") Choose this plan
                        .col-md-4
                            .pricing-card.popular
                                .pricing-header
                                    small.text-uppercase For teams
                                    span.price $29/m
                                    ul.list-group.list-unstyled
                                        - var items = ["Unlimited Projects", "100 GB Storage", "Priority Support", "Collaboration", "Reports and analytics"]
                                        each val in items
                                            li.list-group-item=val
                                .pricing-footer
                                    a(href="#" class="card-btn") Choose this plan
                        .col-md-4
                            .pricing-card
                                .pricing-header
                                    small.text-uppercase Enterprise
                                    span.price $59/m
                                    ul.list-group.list-unstyled
                                        - var items = ["Unlimited Projects", "Unlimited Storage", "Web hooks", "Collaboration", "Reports and analytics"]
                                        each val in items
                                            li.list-group-item=val
                                .pricing-footer
                                    a(href="#" class="card-btn") Choose this plan
            //- End Price

            //- Start Testimonials
            section.testimonials
                h2 What Customer says
                .container
                    .owl-carousel
                        .item
                            .author-image
                                img(src="images/testimonials/testimonial-image.jpg", alt="")
                            .info
                                .author-text
                                    p Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea quia nesciunt. Ducimus aut sed ipsam. Autem eaque officia cum exercitationem. Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea nesciunt. Ducimus aut sed ipsam. Autem eaque officia cum exercitationem.
                                .author-name
                                    h6 Satya Nadella 
                                        small CEO, Microsoft
                                    ul.rating.list-unstyled
                                        - for (var x = 1; x <= 4; x++)
                                            li.d-inline-flex
                                                i(class="fa fa-star")
                                        li.d-inline-flex
                                            i(class="fa fa-star-half-empty")
                        .item
                            .author-image
                                img(src="images/testimonials/testimonial-image-2.jpg", alt="")
                            .info
                                .author-text
                                    p Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea quia nesciunt. Ducimus aut sed ipsam. Autem eaque officia cum exercitationem. Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea nesciunt. Ducimus aut sed ipsam. Autem eaque officia cum exercitationem.
                                .author-name
                                    h6 Sundar Pichai
                                        small CEO, Google
                                    ul.rating.list-unstyled
                                        - for (var x = 1; x <= 4; x++)
                                            li.d-inline-flex
                                                i(class="fa fa-star")
                                        li.d-inline-flex
                                            i(class="fa fa-star-half-empty")
                        .item
                            .author-image
                                img(src="images/testimonials/testimonial-image-3.jpg", alt="")
                            .info
                                .author-text
                                    p Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea quia nesciunt. Ducimus aut sed ipsam. Autem eaque officia cum exercitationem. Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea nesciunt. Ducimus aut sed ipsam. Autem eaque officia cum exercitationem.
                                .author-name
                                    h6 Tim Cook 
                                        small CEO, Apple
                                    ul.rating.list-unstyled
                                        - for (var x = 1; x <= 4; x++)
                                            li.d-inline-flex
                                                i(class="fa fa-star")
                                        li.d-inline-flex
                                            i(class="fa fa-star-half-empty")
                        
            //- End Testimonials

            //- Start Download
            section.download
                .container
                    .row
                        .col-md-6
                            .download-info
                                h2 App Is Available On Popular Android & Apple Platform
                                p Available for all major mobile and desktop platforms. Rapidiously visualize optimal ROI rather than enterprise-wide methods of empowerment.
                                .download-btn.store-btn
                                    a(href="#" class="active")
                                        i(class="fa fa-apple" aria-hidden="true")
                                        | App Store
                                    a(href="#")
                                        i(class="fa fa-android" aria-hidden="true")
                                        | Google Play
                        .col-md-5.offset-md-1
                            .download-image
                                img(src="images/download/download-app.png", alt="")
            //- End Download

            //- Start Contact
            section.contact-us
                .container
                    .row.align-items-center
                        .col-md-6
                            address
                                .location
                                    p 
                                        i(class="fa fa-map-marker" aria-hidden="true")
                                        | 1211 Pacific St, Brooklyn, NY 100299 USA
                                .contact
                                    p
                                        i(class="fa fa-envelope-o" aria-hidden="true")
                                        a(href="mailto:dummy@example.com") dummy@example.com
                                    p
                                        i(class="fa fa-phone" aria-hidden="true")
                                        span 123-4356-9988
                        .col-md-6
                            ul.social-icons
                                - var classes = ["fa fa-facebook", "fa fa-twitter", "fa fa-instagram"]
                                each item in classes
                                    li.d-inline-block
                                        a(href="#")
                                            i(class=item)
            //- End Contact

        //- End Main-Content

        //- Start Footer
        include pug/pages/footer
        //- End Footer

        //- Start Scripts
        include pug/includes/scripts
        //- End Scripts